<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My tech blog!</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header>
		<h1>Welcome to the tech blog by Frye.</h1>
	</header>
	<nav>
		<a href="/">Home</a>
		{{#if is_logged_in}}
    <a href="/dashboard">Dashboard</a>
		<a href="/api/users/logout">Logout</a>
    {{else}}
		<a href="/login">Login</a>
		{{/if}}
	</nav>
	<main>
		{{{body}}}
	</main>
	{{#if is_logged_in}}
	<section class="add-post">
		<a type="button" class="btn btn-primary" href="/newpost">Add Post</a>
	</section>
	<script src="/js/logout.js"></script>
	{{/if}}
</body>

</html>