<div class="card">
    <div class="card-header new-post">
        Create New Post
    </div>
    <form method="POST" class="card-body">
        <div class="form-group mb-3">
            <label class="form-label fw-bold" for="title">Title</label>
            <input type="text" name="title" class="col-sm-12 form-input" id="title" />
        </div>
        <div class="form-group mb-3">
            <label class="form-label fw-bold" for="content">Content</label>
            <textarea type="text" name="content" class="col-sm-12 form-input" id="content"></textarea>
        </div>
        <div class="form-group newpost-btn mb-3">
            <button type="submit" class="col-sm-12 btn btn-dark" id="create-post">Create</button>
        </div>
    </form>
</div>
<script src="/js/create-post.js"></script>