<div class="card">
    <div class="card-header new-post">
        Create New Post
    </div>
    <form method="POST">
        <div class="form-group mb-3">
            <label class="form-label fw-bold" for="title">Title</label>
            <input type="text" name="title" class="col-sm-12 form-input" id="title" post-id={{id}} value="{{title}}"/>
        </div>
        <div class="form-group mb-3">
            <label class="form-label fw-bold" for="content">Content</label>
            <textarea type="text" name="content" class="col-sm-12 form-input" id="content">{{content}}</textarea>
        </div>
        <div class="form-group d-flex">
            <button type="submit" class="btn btn-dark mx-3 mb-3" id="update-post">Update</button>
            <button type="submit" class="btn btn-dark mx-3 mb-3" id="delete-post">Delete</button>
        </div>
    </form>
</div>
<script src="/js/edit-post.js"></script>